/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors-edited */
$background-color: #f2f2f2 !default;
$text-color: #333333 !default;
$muted-text-color: #999999 !default;
$primary-color: #3C82C1 !default;
$border-color: mix(#fff, #999999, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: $primary-color !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $muted-text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
